# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\34269\Lab8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
